<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="PathImportFaculties" value="C:\Users\Sebastiano\source\repos\Uni_Manager\Uni_Manager\Store\Faculty\Faculty.json"/>
		<add key ="PathImportStudents" value="C:\Users\Sebastiano\source\repos\Uni_Manager\Uni_Manager\Store\Student\Students.json"/>
		<add key ="PathImportTeachers" value="C:\Users\Sebastiano\source\repos\Uni_Manager\Uni_Manager\Store\Teacher\Teachers.json"/>	
		<add key ="PathImportExams" value="C:\Users\Sebastiano\source\repos\Uni_Manager\Uni_Manager\Store\Exam\Exams.json"/>
		<add key ="PathExportFaculties" value="C:\Users\Sebastiano\source\repos\Uni_Manager\Uni_Manager\Store\Faculty\FacultyExported.json"/>
		<add key="DbConnectionString" value="Data Source=DESKTOP-CBBKDB1\SQLEXPRESS;Initial Catalog=UniversityDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</appSettings>
</configuration>